<form novalidate [formGroup]="updatePasswordForm" (submit)="updatePassword()">
  <div class="grid">
    <div class="col-12">
      <p-messages severity="success" *ngIf="successMessage$ | async as successMessage">
        <ng-template pTemplate>
          <span class="custom-message">{{successMessage}}</span>
        </ng-template>
      </p-messages>
      <p-messages severity="error" *ngIf="errorMessage$ | async as errorMessage">
        <ng-template pTemplate>
          <span class="custom-message">{{errorMessage}}</span>
        </ng-template>
      </p-messages>
    </div>
    <div class="col-12">
      <div class="p-inputgroup">
        <span class="p-inputgroup-addon"><i class="pi pi-lock"></i></span>
        <input pInputText placeholder="Old Password" type="password" formControlName="old_password"/>
      </div>
    </div>
    <div class="col-12">
      <div class="p-inputgroup">
        <span class="p-inputgroup-addon"><i class="pi pi-lock"></i></span>
        <input pInputText placeholder="New Password" type="password" formControlName="new_password"/>
      </div>
    </div>
    <div class="col-12">
      <div class="p-inputgroup">
        <span class="p-inputgroup-addon"><i class="pi pi-lock"></i></span>
        <input pInputText placeholder="Repeat New Password" type="password" formControlName="new_password_confirm"/>
      </div>
    </div>
    <div class="col-12">
      <div class="p-inputgroup">
        <button pButton type="submit" [disabled]="(isProcessing$ | async) || updatePasswordForm.invalid">Change
          Password
        </button>
      </div>
    </div>
  </div>
</form>
