<p-messages [showTransitionOptions]="'100ms'" [hideTransitionOptions]="'0ms'"></p-messages>

<div class="grid justify-content-center" *ngIf="assessmentFormService.isCurrentPageFirstPage && atLeastOneAttempt">
  <div class="col-12">
    <p-card>
      <h3>Attempted Caretaker Assessments</h3>
      <p-table #dt id="kidsTable" [value]="caretakerAssessmentCaretakers" styleClass="p-datatable-gridlines"
        [scrollable]="true" scrollHeight="200px">
        <ng-template pTemplate="header">
          <tr>
            <th>Caretaker Name</th>
            <th>Caretaker Assessment ID</th>
            <th style="width: 250px">Caretaker Type</th>
            <th>Actions</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-caretakerAssessment>
          <tr>
            <td>
              {{ caretakerAssessment.caretaker.name }}
            </td>
            <td>
              {{
              caretakerAssessment.caretakerAssessment.caretakerAssessmentId
              }}
            </td>
            <td style="width: 250px">
              <span>
                {{ caretakerAssessment.caretakerAssessment.caretakerType.split('_').join(' ')}}
              </span>
            </td>
            <td>
              <p-button (onClick)="
                  resumeCaretakerAssessment(
                    caretakerAssessment.caretakerAssessment
                      .caretakerAssessmentId,
                    caretakerAssessment.caretakerAssessment.caretakerType,
                    caretakerAssessment.caretaker.name,
                    caretakerAssessment.caretaker.caretakerId
                  )
                " label="View/ Continue" pTooltip="View or Continue with Caretaker Assessment"></p-button>
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="summary">
          Total Attempted Caretaker Assessments: {{caretakerAssessmentCaretakers.length}}
        </ng-template>
      </p-table>
    </p-card>
  </div>
</div>
<div class="grid justify-content-center" *ngIf="assessmentFormService.isCurrentPageFirstPage && !noMoreUnattempt">
  <div class="col-12">
    <p-card>
      <h3>Unattempted Caretaker Assessments</h3>
      <p-table #dt id="kidsTable" [value]="uncompletedAssessmentCaretakers2" [scrollable]="true" scrollHeight="200px">
        <ng-template pTemplate="header">
          <tr>
            <th style="width: 5%">Name</th>
            <th>Relationship</th>
            <th>Caretaker Id</th>
            <th>Caretaker Type</th>
            <th style="width: 10%">Actions</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-caretaker>
          <tr>
            <td>{{ caretaker.name }}</td>
            <td>
              {{ caretaker.relationshipToClient }}
            </td>
            <td>{{ caretaker.caretakerId }}</td>

            <td>
              <span *ngIf="caretakerTypeDropDown | async as caretakerTypes">
                <span>
                  <p-dropdown [options]="caretakerTypes" [(ngModel)]="selectedCaretakerType[caretaker.caretakerId]"
                    optionLabel="name" optionValue="value" placeholder="Select Caretaker Type"></p-dropdown>
                </span>
              </span>
            </td>
            <td>
              <p-button (onClick)="
                  createNewCaretakerAssessment(
                    caretaker.caretakerId,
                    caretaker.name
                  )
                " label="Create Caretaker Assessment" [disabled]="selectedCaretakerType === undefined"></p-button>
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="summary">
          Total Incomplete Assessment(s) for caretakers: {{uncompletedAssessmentCaretakers2.length}}
        </ng-template>
      </p-table>
    </p-card>
  </div>
</div>

<div class="grid justify-content-center" *ngIf="assessmentFormService.questionsForIndivDomain$ | async as qns">
  <div class="col-12" *ngIf="assessmentFormService.responseNotesObj$ | async as responseNotes">
    <p-card>
      <h3>Asssessment for: {{currentClientName}}</h3>
      <div *ngIf="
        assessmentFormService.responseNumberObj$ | async as responseNumberObj
      ">
        <p-table #dtAssForm [value]="qns" dataKey="questionCode" styleClass="p-datatable-gridlines">
          <ng-template pTemplate="caption">
            <div class="p-d-flex p-ai-center p-jc-between">
              <!-- {{ currDomainName }} -->
              <p-accordion [pTooltip]="'Click for ' + currDomainName + '\'s Description'"
                *ngIf="getDomainDescription(); else plainTitle">
                <p-accordionTab [header]="currDomainName">
                  <div *ngFor="let desc of getDomainDescription()">
                    <p>{{desc}}</p>
                  </div>
                </p-accordionTab>
              </p-accordion>
              <ng-template #plainTitle>
                {{ currDomainName }}
              </ng-template>
            </div>
          </ng-template>
          <ng-template pTemplate="header">
            <tr>
              <th>Qn. Code</th>
              <th>Qn. Title</th>
              <th>Question</th>
              <th>Response Number</th>
              <th>Response Notes <br>(Select Response Number First)</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-question let-expanded="expanded">
            <p-overlayPanel #opDesc>
              <ng-template pTemplate>
                <p-card>
                  <p-table style="border : 0px !important;" [value]="question.questionDescription">
                    <ng-template pTemplate="caption">
                      {{question.questionCode}} Question Description
                    </ng-template>
                    <ng-template pTemplate="body" let-qnDesc>
                      <tr>
                        <td>{{qnDesc}}</td>
                      </tr>
                    </ng-template>
                    <ng-template pTemplate="summary"></ng-template>
                  </p-table>
                </p-card>
              </ng-template>
            </p-overlayPanel>
            <p-overlayPanel #opRating>
              <ng-template pTemplate>
                <p-table [value]="getRatingsDefArray(question.ratingsDefinition)" styleClass="p-datatable-gridlines">
                  <ng-template pTemplate="caption">Question {{question.questionCode}} Rating Definitions</ng-template>
                  <ng-template pTemplate="header">
                    <tr>
                      <th>Response Value</th>
                      <th>Definition</th>
                    </tr>
                  </ng-template>
                  <ng-template pTemplate="body" let-ratingDef let-rowIndex="rowIndex">
                    <tr>
                      <td>{{rowIndex}}</td>
                      <td>{{ratingDef}}</td>
                    </tr>
                  </ng-template>
                  <ng-template pTemplate="summary">

                  </ng-template>
                </p-table>
              </ng-template>
            </p-overlayPanel>
            <tr>
              <td style="
                width: 5%;
                background-image: linear-gradient(
                  to bottom,
                  white,
                  rgba(9, 97, 125, 0.5)
                );
              ">
                {{ question.questionCode }}
              </td>
              <td style="width: 10%">{{ question.questionTitle }}</td>
              <td style="width: 40%">
                <!-- {{ question.questionToConsider.join("\n") }} -->
                <button style="float: right;" pButton pRipple type="button" (click)="opDesc.toggle($event)"
                  icon="pi pi-question" class="p-button-rounded p-button-text p-button-secondary"></button>
                <div *ngFor="let qnConsider of question.questionToConsider">
                  <p>{{qnConsider}}</p>
                </div>
              </td>
              <div *ngIf="
                assessmentFormService.isCurrentPageModule;
                then canSelectNA;
                else notModuleCannotSelectNA
              "></div>
              <ng-template #canSelectNA>
                <div *ngIf="
                  question.subModule === undefined;
                  then toggleDisabled;
                  else toggleEnabled
                "></div>
                <ng-template #toggleDisabled>
                  <td>
                    <button style="float: right;" pButton pRipple type="button" (click)="opRating.toggle($event)"
                      icon="pi pi-question" class="p-button-rounded p-button-text p-button-secondary"></button>
                    <p-selectButton [options]="responseNumeralsForModule"
                      [(ngModel)]="responseNumberObj[question.questionCode]" optionLabel="label" optionValue="value"
                      optionDisabled="inactive">
                    </p-selectButton>
                  </td>
                </ng-template>
                <ng-template #toggleEnabled>
                  <td style="
                    background-image: linear-gradient(
                      to bottom,
                      white,
                      rgba(245, 141, 34, 0.3)
                    );
                  ">
                    <button style="float: right;" pButton pRipple type="button" (click)="opRating.toggle($event)"
                      icon="pi pi-question" class="p-button-rounded p-button-text p-button-secondary"></button>
                    <p-selectButton [options]="responseNumeralsForModule"
                      [(ngModel)]="responseNumberObj[question.questionCode]" optionLabel="label" optionValue="value"
                      optionDisabled="inactive" [pRowToggler]="question" [pRowTogglerDisabled]="
                      responseNumberObj[question.questionCode] === 0 || (responseNumberObj[question.questionCode] >= 1 && expanded)
                    ">
                    </p-selectButton>
                  </td>
                </ng-template>
              </ng-template>
              <ng-template #notModuleCannotSelectNA>
                <div *ngIf="
                  question.subModule === undefined;
                  then toggleDisabled;
                  else toggleEnabled
                "></div>
                <ng-template #toggleDisabled>
                  <td>
                    <button style="float: right;" pButton pRipple type="button" (click)="opRating.toggle($event)"
                      icon="pi pi-question" class="p-button-rounded p-button-text p-button-secondary"></button>
                    <p-selectButton [options]="responseNumeralsNotM" optionDisabled="inactive"
                      [(ngModel)]="responseNumberObj[question.questionCode]" optionLabel="label" optionValue="value">
                    </p-selectButton>
                  </td>
                </ng-template>
                <ng-template #toggleEnabled>
                  <td style="
                    background-image: linear-gradient(
                      to bottom,
                      white,
                      rgba(245, 141, 34, 0.3)
                    );
                  ">
                    <button style="float: right;" pButton pRipple type="button" (click)="opRating.toggle($event)"
                      icon="pi pi-question" class="p-button-rounded p-button-text p-button-secondary"></button>
                    <p-selectButton [options]="responseNumeralsNotM" optionDisabled="inactive"
                      [(ngModel)]="responseNumberObj[question.questionCode]" optionLabel="label" optionValue="value"
                      [pRowToggler]="question" [pRowTogglerDisabled]="
                      responseNumberObj[question.questionCode] === 0 || (responseNumberObj[question.questionCode] >= 1 && expanded)
                    ">
                    </p-selectButton>
                  </td>
                </ng-template>
              </ng-template>

              <td style="width: 20%" *ngIf="
                assessmentFormService.responseNotesObj$
                  | async as responseNotesObj
              ">
                <textarea [rows]="5" [cols]="30" pInputTextarea [autoResize]="true"
                  [disabled]="responseNumberObj[question.questionCode] === -2 || responseNumberObj[question.questionCode] == null || responseNumberObj === {}"
                  [(ngModel)]="responseNotesObj[question.questionCode]"></textarea>
              </td>
            </tr>
          </ng-template>

          <!-- Start Row Expansion -->
          
          <ng-template pTemplate="rowexpansion" let-question>
            <tr #expansionRow *ngIf="responseNumberObj[question.questionCode] > 0">
              <td colspan="12">
                <div class="p-p-3">
                  <p-table [value]="question.subModule.subQues" dataKey="id">
                    <ng-template pTemplate="caption">
                      <div class="p-d-flex p-ai-center p-jc-between">
                        {{ question.subModule.subModuleName }}
                      </div>
                    </ng-template>
                    <ng-template pTemplate="header">
            <tr id="expandedRowHeaders">
              <th>Qn. Code</th>
              <th>Qn. Title</th>
              <th style="width: 30%">Question</th>
              <th>Response Number</th>
              <th>Response Notes</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-subQues>
            <p-overlayPanel #SMopDesc>
              <ng-template pTemplate>
                <p-card>
                  <p-table style="border : 0px !important;" [value]="subQues.questionDescription">
                    <ng-template pTemplate="caption">
                      {{subQues.questionCode}} Question Description
                    </ng-template>
                    <ng-template pTemplate="body" let-qnDesc>
                      <tr>
                        <td>{{qnDesc}}</td>
                      </tr>
                    </ng-template>
                    <ng-template pTemplate="summary"></ng-template>
                  </p-table>
                </p-card>
              </ng-template>
            </p-overlayPanel>
            <p-overlayPanel #SMopRating>
              <ng-template pTemplate>
                <p-table [value]="getRatingsDefArray(subQues.ratingsDefinition)" styleClass="p-datatable-gridlines">
                  <ng-template pTemplate="caption">Question {{subQues.questionCode}} Rating Definitions</ng-template>
                  <ng-template pTemplate="header">
                    <tr>
                      <th>Response Value</th>
                      <th>Definition</th>
                    </tr>
                  </ng-template>
                  <ng-template pTemplate="body" let-ratingDef let-rowIndex="rowIndex">
                    <tr>
                      <td>{{rowIndex}}</td>
                      <td>{{ratingDef}}</td>
                    </tr>
                  </ng-template>
                  <ng-template pTemplate="summary">

                  </ng-template>
                </p-table>
              </ng-template>
            </p-overlayPanel>
            <tr>
              <td style="
                          background-image: linear-gradient(
                            to bottom,
                            white,
                            rgba(245, 141, 34, 0.3)
                          );
                        ">
                {{ subQues.questionCode }}
              </td>
              <td>{{ subQues.questionTitle }}</td>
              <td>
                <!-- {{ subQues.questionDescription.join("\n") }} -->
                <button style="float: right;" pButton pRipple type="button" (click)="SMopDesc.toggle($event)"
                  icon="pi pi-question" class="p-button-rounded p-button-text p-button-secondary"></button>
                <div *ngFor="let qnConsider of subQues.questionToConsider">
                  <p>{{qnConsider}}</p>
                </div>
              </td>
              <td>
                <button style="float: right;" pButton pRipple type="button" (click)="SMopRating.toggle($event)"
                      icon="pi pi-question" class="p-button-rounded p-button-text p-button-secondary"></button>
                <p-selectButton [options]="responseNumeralsNotM" optionDisabled="inactive"
                  [(ngModel)]="responseNumberObj[subQues.questionCode]" optionLabel="label" optionValue="value">
                </p-selectButton>
              </td>
              <td style="width: 20%" *ngIf="
                          assessmentFormService.responseNotesObj$
                            | async as responseNotesObj
                        ">
                <textarea [rows]="5" [cols]="30" pInputTextarea [autoResize]="true" [disabled]="
                            responseNumberObj[subQues.questionCode] === -2
                          " [(ngModel)]="responseNotesObj[subQues.questionCode]"></textarea>
              </td>
            </tr>
          </ng-template>
          <ng-template pTemplate="summary"></ng-template>
        </p-table>
      </div>
      </td>
      </tr>
      </ng-template>
      <!-- End Row Expansion -->

      <ng-template pTemplate="summary">
        <div class="p-d-flex p-ai-center p-jc-between">
          {{ currDomainName }} (Total Qns: {{qns.length}})
        </div>
      </ng-template>
      </p-table>

  </div>
  <br>

  <div class="p-grid" style="float: left;">

    <button pButton class="p-button-warning p-button-raised" icon="pi pi-chevron-left" iconPos="left"
      *ngIf="!assessmentFormService.isCurrentPageFirstPage" pTooltip="Save and Go Back" label="Previous"
      (click)="previousButtonClick()">
    </button>
  </div>

  <div class="p-grid" style="float: right;">

    <button pButton *ngIf="!assessmentFormService.isCurrentPageLastPage" label="Save"
      class="p-button-raised p-button-secondary" icon="pi pi-save" pTooltip="Save Current Responses"
      (click)="saveButtonClick()">
    </button>
    &nbsp;&nbsp;&nbsp;
    <button pButton *ngIf="!assessmentFormService.isCurrentPageLastPage" label="Go to Last Domain"
      class="p-button-raised p-button-info" icon="pi pi-fast-forward" iconPos="right" pTooltip="Skip to Last Domain"
      (click)="skipToLastDomainClick()">
    </button>

    <button pButton class="p-button-info p-button-raised" icon="pi pi-chevron-right" iconPos="right"
      (click)="saveAndNextButtonClick()" style="margin-left: 10px;" pTooltip="Save and Go Next"
      *ngIf="!assessmentFormService.isCurrentPageLastPage" label="Next">
    </button>

    <button pButton *ngIf="assessmentFormService.isCurrentPageLastPage" label="Submit" pTooltip="Submit Assessment"
      icon="pi pi-check-circle" iconPos="right" class="p-button-raised p-button-success" (click)="submitButtonClick()">
    </button>
  </div>
  <br>

  </p-card>
</div>
</div>


<p-confirmDialog acceptButtonStyleClass="p-button-raised p-button-success"
  rejectButtonStyleClass="p-button-outlined p-button-danger" icon="pi pi-exclamation-triangle"
  [breakpoints]="{'960px': '75vw', '640px': '100vw'}" [style]="{width: '50vw'}">
  Content
</p-confirmDialog>

<p-dialog header="Incomplete Assessment Submission Attempted" [(visible)]="displayModal" [modal]="true"
  [style]="{ width: '50vw' }" [draggable]="false" [resizable]="false">
  <div *ngIf="showSpinning then showSpin;else showUnAnsTable"></div>
  <ng-template #showSpin>
    <div>
      <p-progressSpinner></p-progressSpinner>
      <div class="p-text-center">Submitting...</div>
    </div>
  </ng-template>
  <ng-template #showUnAnsTable>
    <p-table *ngIf="minusTwoStillArr.length > 0" [value]="minusTwoStillArr"
      styleClass="p-datatable-gridlines p-datatable-striped" responsiveLayout="scroll">
      <ng-template pTemplate="caption">
        {{currentClientName}}'s Questions to Attempt
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th>
            No.
          </th>
          <th>
            Question Code
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-tuple let-rowIndex="rowIndex">
        <tr>
          <td>
            {{rowIndex + 1}}
          </td>
          <td>
            {{tuple}}
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="summary">
        {{currentClientName}}'s Total Un-answered Questions: {{minusTwoStillArr.length}}
      </ng-template>
    </p-table>

    <p-table *ngIf="caretakerUnansweredArray.length > 0" [value]="caretakerUnansweredArray"
      styleClass="p-datatable-gridlines p-datatable-striped" responsiveLayout="scroll">
      <ng-template pTemplate="caption">
        {{currentClientName}}'s Caretaker Assessments to Complete
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th>
            Caregiver Id
          </th>
          <th>
            Caretaker Name
          </th>
          <th>
            Caretaker Assessment Question Code(s)
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-tuple let-rowIndex="rowIndex">
        <tr *ngIf="!(tuple.isCreated && tuple.questionCodes.length == 0)">
          <td>
            {{tuple.caregiverId}}
          </td>
          <td>
            {{tuple.caregiverName}}
          </td>
          <td *ngIf="tuple.questionCodes.length > 0">
            {{tuple.questionCodes}}
          </td>
          <td *ngIf="!tuple.isCreated">
            Caretaker Assessment Not Started
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="summary">
        Please Proceed to Complete {{currentClientName}}'s Caretaker Assessment(s)
      </ng-template>
    </p-table>

    <ng-template pTemplate="footer">
      <p-button icon="pi pi-chevron-left" iconPos="left" (click)="displayModal = false" label="Back"
        styleClass="p-button-text"></p-button>
    </ng-template>
  </ng-template>

</p-dialog>

<p-dialog header="Assessment Submitted" [(visible)]="displaySubmitSuccessModal" [modal]="true" [style]="{width: '50vw'}"
  [draggable]="false" [resizable]="false">
  <p [style]="{'color':'green'}" class="p-m-0">Your Assessment has been submitted.</p>
  <ng-template pTemplate="footer">
    <p-button icon="pi pi-check" (click)="displaySubmitSuccessModalButtonClick()" label="Ok" styleClass="p-button-text">
    </p-button>
  </ng-template>
</p-dialog>

<p-toast position="bottom-center" key="bc"></p-toast>
<p-toast position="bottom-center" key="c" (onClose)="onReject()" [baseZIndex]="5000">
  <ng-template let-message pTemplate="message">
    <div class="p-flex p-flex-column" style="flex: 1">
      <div class="p-text-center">
        <i class="pi pi-exclamation-triangle" style="font-size: 3rem"></i>
        <h4>{{message.summary}}</h4>
        <p>{{message.detail}}</p>
      </div>
      <div class="p-grid p-fluid">
        <div class="p-col-6">
          <button type="button" pButton (click)="onConfirm()" label="Yes" class="p-button-success"></button>
        </div>
        <div class="p-col-6">
          <button type="button" pButton (click)="onReject()" label="No" class="p-button-secondary"></button>
        </div>
      </div>
    </div>
  </ng-template>
</p-toast>