<app-header></app-header>
<div class="grid justify-content-center">
  <form id="reset-form" class="col-12 lg:col-6 md:col-8" [formGroup]="passwordResetForm" novalidate
        (submit)="resetPassword()">
    <p-card>
      <div class="grid justify-content-center align-items-center">
        <div class="col-12">
          <p-messages severity="success" *ngIf="successMessage$ | async as successMessage">
            <ng-template pTemplate>
              <span class="custom-message">{{successMessage}}</span>
            </ng-template>
          </p-messages>
          <p-messages severity="error" *ngIf="errorMessage$ | async as errorMessage">
            <ng-template pTemplate>
              <span class="custom-message">{{errorMessage}}</span>
            </ng-template>
          </p-messages>
          <h1>Forgot Password</h1>
          <p>An email will be sent with instructions to reset your password.</p>
        </div>
        <div class="col-12">
          <div class="p-inputgroup">
            <span class="p-inputgroup-addon"><i class="pi pi-inbox"></i></span>
            <input
              type="email"
              pInputText
              placeholder="Email"
              formControlName="email"
            />
          </div>
        </div>
        <div class="col-12">
          <div class="p-inputgroup">
            <button pButton
                    class="full-width-button"
                    label="Reset Password"
                    [disabled]="passwordResetForm.invalid || (isProcessing$ | async)"
                    type="submit">
            </button>
          </div>
        </div>
      </div>
    </p-card>
  </form>
</div>
<app-footer></app-footer>
